/*
    And then one day... I got in.
*/

/*  A row is a container for columns. It clears the floats inside it. */
.row {
    margin-left: -10px;
    margin-right: -10px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

/*  A column is a container for content. Use column spans to set proportions
    and create your grid layout. This is in a media query so only modern
    browsers can see it (Support for media queries is the first media query).
*/
@media only screen {
    .col {
        width: 8.333%;
        float: left;
        background-color: rgba(0, 0, 0, .05);
        outline: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .span-two {
        width: 16.666%;
    }
    .span-three {
        width: 24.999%;
    }
    .span-four {
        width: 33.332%;
    }
    .span-five {
        width: 41.665%;
    }
    .span-six {
        width: 49.998%;
    }
    .span-seven {
        width: 58.331%;
    }
    .span-eight {
        width: 66.664%;
    }
    .span-nine {
        width: 74.997%;
    }
    .span-ten {
        width: 83.33%;
    }
    .span-eleven {
        width: 91.663%;
    }
    .span-twelve,
    .span-all {
        width: 100%;
        float: none;
        clear: both;
    }
}

/*  Columns go full-width and stack in small viewports. */
@media screen and (max-width: 30rem) {

    .row > .col {
        width: 100%;
        float: none;
    }

}
