/*
    Styles for presentation.
    Because even prototypes usually need some purely visual touches.
*/

.text-huge {
    font-size: 3rem;
}

.text-large {
    font-size: 2rem;
}

.text-small {
    font-size: .75rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padded {
    padding: 40px;
}

img.align-left {
    float: left;
    margin-right: 20px;
}

img.align-right {
    float: right;
    margin-left: 20px;
}

img.align-center {
    display: block;
    margin: 0 auto 10px;
}
