/*
    Base styles for the Proton framework.

    This style sheet imports the others. It's bad for performance but good for reference.
    Use this as a starting point for your particular project, importing the only pieces
    you actually need and tailoring the global layout (widths and breakpoints) to suit
    your needs.
*/

@import url('reset.css');
@import url('grid.css');
@import url('buttons.css');
@import url('forms.css');


body {
    font: 100%/1.5 Calibri, sans-serif;
    color: #000;
    background-color: #fff;
}


/*  Page 'sections' are full-width tiers down the page. */
.section {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    padding: 0 10px;
}

.section h1 {
    font-size: 2rem;
}

/*  Alternate background colors to show sections. */
.section:nth-child(even) {
    background-color: rgba(0, 0, 0, .02);
}

/*  No border on the last section. */
.section:last-child {
    border-bottom: 0;
}

/*  Clear floats. */
.section:after,
.content:after {
    clear: both;
    content: '';
    display: table;
}

/*
   Actual content goes in a .content wrapper inside a .section - this sets your content width.
   Adjust the max and min as desired, or set breakpoints to constrain fluidity.
*/
.content {
    max-width: 1200px;
    min-width: 280px;

    background-color: rgba(0, 0, 0, .05);
    margin: 0 auto;
    outline: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
}
