@import url('reset.css');
@import url('buttons.css');
@import url('grid.css');

body {
    font: 100%/1.5 Calibri, sans-serif;
    color: #000;
    background: #fff;
}


/* Page 'sections' are full-width tiers down the page. */
.section {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    padding: 0 10px;
}

/* Alternate background colors */
.section:nth-child(even) {
    background: rgba(0, 0, 0, .02);
}

/* No border on the last section */
.section:last-child {
    border-bottom: 0;
}

/* Clear floats */
.section:after,
.content:after {
    clear: both;
    content: '';
    display: table;
}

/* Content goes in a wrapper inside a section; this sets your content width. */
.content {
    max-width: 1000px;
    min-width: 280px;

    background: rgba(0, 0, 0, .05);
    margin: 0 auto;
    outline: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
}

