/* @Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, video, canvas { display: inline-block; }

html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.5em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, iframe { border: 0; }
legend { color: inherit; } /* For IE */
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
img, video, object, embed { max-width: 100%; height: auto; }
